<div class="container-fluid">
<!-- title -->
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <h1> <small>WELCOME TO</small><hr><br> QUOTE INITIATOR </h1> 
        </div>
    </div>
  </div>

    <!-- quote making form -->

    <div class="quote-form">
      <h3> WOULD YOU LIKE TO ADD A QUOTE?</h3>
      <app-quote-form (addQuote) = "addNewQuote($event)"></app-quote-form>
    </div>

  <!-- first quote -->

    <div class="card" style="width: 18rem;">
        <div *ngFor='let quote of quotes; let i=index' class="each-quote">


       <div class="card-body">
          <i class="fa fa-quote-left"></i><br><hr>
          <p id = "{{i}}">"{{quote.quote}}" </p><hr>
          <i class="fa fa-quote-right"></i><br>
        <h5 class="card-title">
            <em>{{quote.author}}</em>
        </h5>
        <p>{{quote.date|dateSetter}}, {{quote.date|date}}</p><br>
        
        <app-quote [quote] = 'quote' (isComplete) = 'deleteQuote($event,i)'></app-quote>
        
      </div>
    </div>
  </div>
</div>

